<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Title to appear in browser's title bar-->
    <title>ClinVar Annotator</title>
    <!--Useful libraries for CSS styling and additional JavaScript functionalities-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
</head>
<body>
<div class="container mt-4">
    <!--Page title-->
    <h1>Variants with ClinVar annotations</h1>
    <!--Table of annotated variants-->
    <table id="variants" class="display table table-bordered">
        <!--Column headers-->
        <thead>
            <tr>
                <th>Patient ID</th>
                <th>Chromosome</th>
                <th>Position</th>
                <th>Reference</th>
                <th>Alternate</th>
                <th>ClinVar Annotations</th>
            </tr>
        </thead>
        <!--Loop through patient_variants dict to display data in the table (one variant per row)-->
        <tbody>
        {% for pv in patient_variants %}
            <tr>
                <td>{{ pv.patient_id }}</td>
                <td>{{ pv.chrom }}</td>
                <td>{{ pv.pos }}</td>
                <td>{{ pv.ref }}</td>
                <td>{{ pv.alt }}</td>
                <td><pre>{{ pv.clinvar | tojson(indent=2) }}</pre></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<!--JavaScript to render the table using DataTables library-->
<script>
$(document).ready(function() {
    $('#variants').DataTable({
        dom: 'Bfrtip', // Bfrtip sets options for buttons, filtering, pagination, etc.
        buttons: ['csvHtml5'] // Button to save CSV of data in table (or filtered table)
    });
});
</script>
</body>
</html>
